<h3>AboutUs</h3>
<section>
  <h4><%= @about_us.header %></h4>
  <br>
  <p><%= @about_us.description %></p>
    <%= @about_us.address %>
    <br>
    <%= @about_us.province %>
    <br>
    <%= @about_us.postal_code %>
    <br>
    <%= @about_us.contact_number %>
    <br>
    <%= @about_us.email %>
</section>
