<header>
    <h1>Complete-Nes Collection</h1>
    <h2>For all your Nes Needs</h2>
    <%= link_to 'Home', root_path %> - <%= link_to 'All Games', games_path %> - <%= link_to 'By Genre', genres_path %> - <%= link_to 'By Publisher', publishers_path %> - <%= link_to 'By Developer', developers_path %> - <%= link_to 'Sale', sales_path %> - <%= link_to "Recently Added", new_games_path %> - <%= link_to 'About Us', about_us_path %> - <%= link_to 'Admin Log In', admin_dashboard_path %>
    <%= form_tag search_results_path, method: 'get' do %>
        <%= text_field_tag :search_keywords %>
        <%= collection_select params[:genre_selected], :ids, Genre.all, :id, :name, :selected=> :id %>
        <%= submit_tag "Seach" %>
    <% end %>
</header>