<section>
  <h2><%= @game.name %></h2>
  <%= image_tag @game.image_url.to_s, height: '350' %>
  <br>
  <h3>$<%= @game.reg_price %> <%= link_to "Add to Cart" %></h3>
  <br>
  
  <p>
    Released: <%= @game.release_year %>
    <br />
    Genre: <%= @game.genre.name %>
    <br />
    Developed by: <%= @game.developer.name %>
    <br />
    Published by: <%= @game.publisher.name %>
  </p>  
  
  <p><%= @game.description %></p>
</section>

