<section>
  <h2><%= @game.name %></h2>
  <h3>$<%= @game.reg_price %></p>
  <br>
  <p>
    Released: <%= @game.release_year %>
    <br />
    Genre: <%= @game.genre.name %>
    <br />
    Developed by: <%= @game.developer.name %>
    <br />
    Published by: <%= @game.publisher.name %>
  </p>
  
  <p><%= @game.description %></p>
</section>

